<section id="heroes">
  {{#each things}}
  <div class="card">
    <a href="/{{things_id}}">
      <img src="/images/{{image}}" alt="{{title}}">
    </a>

    <h3 class="hero-name">{{title}}</h3>
  </div>
  {{/each}}



</section>