* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: $bg;
  color: $text-color;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  margin-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Satisfy', cursive;
}

header {
  background-color: $bg-color;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2rem;
    padding: 8px 20px;
    display: inline-block;
  }

  a {
    font-size: 1.75rem;
    padding: 10px 20px 0 0;
    @include ease;
  }

  a:hover {
    color: rgb(37, 69, 138);
  }
}

// main {
//   padding: 12px 20px;
// }

footer {
  background-color: $bg-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 1rem;
}

#heroes {
  text-align: center;
  margin-top: 20px;
}

.card {
  border-radius: 0.6rem;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  margin: 0 12px 20px;
  background: $bg-color;
  max-width: 300px;
  @include ease;

  &:hover {
    @include box-shadow;
  }

  img {
    width: 100%;
  }

  h3 {
    font-size: 1.5rem;
    padding: 8px;
  }
}

.hero-container:last-of-type {
  margin-bottom: 120px;
}



@media screen and (min-width: 1032px) {
  .hero-container:last-of-type {
    margin-bottom: 20px;
  }
}